html body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: rgb(41,41,41);
    background: rgb(236, 236, 236);
    margin: 0%;
    overflow-x: hidden;
    padding: 0%;
}

html {
    scroll-behavior: smooth;
}

#whitebg {
    position: absolute;
}

/* Buttons */
.btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 20px 20px 20px 20px;
    text-align: center;
    background-size: 200% auto;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    text-decoration: none;
}

.btn:hover {
    background-position: right center; /* change the direction of the change here */
}

.btn-1 {
    background-image: linear-gradient(to right, #00a2ff 0%, #5cc3ff 51%, #00a2ec 100%);
}

/* Header */ 

header {
    background: white;
    margin: 0px;
    box-shadow: 0px 0px 5px 0px #888888;
}

#snlogo {
    padding-left: 30px;
    padding-top: 10px;
}

#headerbuttons {
    float: right;
    font-size: 14px;
    display: inline-flex;
    margin-right: 40px;
    font-weight: 400;
}

.headerlist li a {
    text-decoration: none;
    color: rgb(41,41,41);
    padding: 10px 0px 10px 0px;
}

.headerlist {
    list-style-type: none;
}

.headerlist1 {
    list-style-type: none;
}

.headerlist1 li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px 10px 15px;
}

.child {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.bounce:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.lineup a:hover {
    color: #00d8ff;
    animation-name: bounce;
    animation-timing-function: ease;
}

.lineup1 a:hover {
    animation-name: bounce;
    animation-timing-function: ease;
    color: white;
}

.lineup1 a {
    color: white;
}

header .burger {
    margin-top: 20px;
    display: none;
}

.burger div {
    width: 25px; 
    height: 3px;
    margin: 5px;
    background-color: rgb(41,41,41);
   
}

/* Bootstrap header */ 

a.nav-link {
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(41,41,41);
    justify-content: none;
}





/* section 1 */

#tableContainer {
    display: table;
    border-spacing: 10px;
    margin: auto;
    margin-top: 70px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 25px #00d9ff57;
    position: relative;
    padding: 0px 10px 0px 10px;
}
  
#tableRow {
    display: table-row;
}

#section1pic {
    display: table-cell;
    vertical-align: top;
    padding-top: 10px;
}

#section1 {
    display: table-cell;
    vertical-align: top;
    text-align: center;
}

#section1 h1 {
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 30px;
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#section1 p {
    font-size: 18px;
    line-height: 25px;
    margin-top: -10px;
    margin-left: 0px;
    margin-right: 30px;
    padding-bottom: 30px;
}

#section1 a{
    color: rgb(90, 90, 90);
    font-size: 16px;
    padding-bottom: 30px;
    text-decoration: none;
}

#section1 a:hover{
    color: #00d8ff;
}

#pinknails {
    margin-top: 15px;
    text-align: center;
    opacity: 40%;
}

#section1back {
    margin-top: -650px;
}

/* section 2 */

#section2 {
    text-align: center;
    margin-bottom: 150px;
    margin-top: 250px;
}

#section2 h1 {
    font-size: 30px;
}

#section2 p {
    font-size: 19px;
    line-height: 25px;
}

/* Section 3 */

#section3 h1 {
    font-size: 30px;
    text-align: center;
}

#pic3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

#pic3:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}

/* Section 4 */

#section4 {
    text-align: center;
    margin: 20px 100px 20px 100px;
    padding-bottom: 50px
}

#section4 img {
    margin: 20px;
    border-radius: 25px;
    transition: transform .2s;
    box-shadow: 0 0 25px #0000003a;
}

#section4 img:hover{
    transform: scale(1.05);
}

#section4button {
    font-size: 14px;
    text-align: center;
    margin-bottom: 100px;
}

/* Footer */

footer {
    text-align: center;
    background-color: black;
    margin: 0px;
    box-shadow: 0px 0px 5px 0px #888888;
    font-size: 15px;
    padding-top: 40px;
    padding-bottom: 5px;
}

footer table {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}

table th {
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}

table td {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
    color: rgb(224, 224, 224);
}

td img {
    opacity: 100%;
}

footer p.cr {
    color: white;
}

/* Hours and Location */

#hours {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

#date {
    text-align: center;
    padding-bottom: 30px;
    font-size: 16px;
}

#date p:nth-child(1), p:nth-child(3){
    font-size: 18px;
}

#date p:nth-child(2), p:nth-child(4){
    color: rgb(109, 109, 109);
}

#map div p {
    text-align: center;
}


#map {
    margin-bottom: 100px;
}

/* Form */ 

form {
    margin-top: 100px;
}

form h1, h2 {
    text-align: center;
}

form h2 {
    margin-bottom: 10px;
    font-weight: lighter;
    margin-top: -15px;
}

form h1 {
    font-size: 40px;
    padding-bottom: 20px;
}

form p {
    text-align: left;
    font-size: 18px;
    line-height: 40px;
    padding: 10px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

form textarea{
	width: 500px;
	height: 200px;
    border-radius: 10px;
    border: 1px solid #00000010;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 5px #00000067;
}

.cborder input{
    border-radius: 10px;
    width: 500px;
	height: 50px;
    border: 1px solid #00000067;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 5px #0000001c;
}

::placeholder { 
    color: rgb(173, 173, 173);
    opacity: 1; 
}

#sendbutton {
    margin-bottom: 100px;
    text-align: center;
    margin-top: 20px;
}

input[type=submit] {
    color: white;
    padding: 15px 30px 15px 30px;
    background-image: linear-gradient(to right, #00a2ff 0%, #5cc3ff 51%, #00a2ec 100%);
    border: none;
    border-radius: 25px;
    font-size: 18px;
}

/* for mini screen */

@media screen and (max-width: 768px) {

#pinknails img {
    display: none;
}

#section1back {
    margin-top: 100px;
    margin: 15px;
    z-index: 1;
}

#section1back img {
    display: none;
}

#section1back h1 {
    font-size: 30px;
}

#section1 h1 {
    padding-bottom: 20px;
}

#section1back p {
    font-size: 18px;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 30px;
    padding-bottom: 10px;
}

#section2 {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 80px;
    margin-top: 80px;
}

#section4 {
    margin: 0px;
}

/* responsive nav bar 

#headerbuttons {
    position: absolute;
    top: 80px;
    left: 0;
    background-color: white;
    height: 50vh;
    width: 100%;
    display: block;
    z-index: 2;
    transform: translateX(100%);
}


.headerlist li {
    padding: 20px 0px 20px 0px;
    text-align: center;
}

.headerlist1 li {
    padding: 0px;
    text-align: center;
}

header .burger {
    display: block;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}
*/

}

#headerbuttons:active {
    transform: translateX(0%)
}
